<div class="form-container">
  <form [formGroup]="forms" (ngSubmit)="addUser()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" formControlName="name">
    </div>
    <div *ngIf="forms.get('name')!.touched && forms.get('name')!.invalid" class="alert alert-danger">
       <div *ngIf="forms.get('name')!.hasError('required')">Name is required</div>
    </div>
   
     <div class="form-group">
      <label for="contact">Contact:</label>
      <input type="text" name="contact" formControlName="contact">
    </div>
    <div *ngIf="forms.get('contact')!.touched && forms.get('contact')!.invalid" class="alert alert-danger">
      <div *ngIf="forms.get('contact')!.hasError('required')">Contact number is required</div>
      <div *ngIf="forms.get('contact')!.hasError('pattern') && forms.get('contact')!.hasError('minLength')">Less than 10 digits</div>
      <div *ngIf="forms.get('contact')!.hasError('pattern') && forms.get('contact')!.hasError('maxLength')">More than 10 digits</div>
    </div>
  
     <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" formControlName="email">
    </div>
    <div *ngIf="forms.get('email')!.touched && forms.get('email')!.invalid" class="alter alert-danger">
      <div *ngIf="forms.get('email')!.hasError('required')">Email required</div>
      <div *ngIf="forms.get('email')!.hasError('email') && !forms.get('email')!.hasError('required')">Email is invalid</div>
    </div>
<!-- 
     <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" name="password" formControlName="password">
    </div>
     <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="text" name="confirmPassword" formControlName="confirmPassword">
    </div> -->
    <button type="submit">Submit</button>
  </form>
</div>
<div>
  <ul>
    <li *ngFor="let user of userList">
      <B>Name: </B>{{user.name}}
      <B>Contact: </B>{{user.contact}}
      <B>Email: </B>{{user.email}}
      <!-- <p>Password: {{user.password}}</p>
      <p>Confirm Password: {{user.confirmPassword}}</p> -->
    </li>
  </ul>
</div>